body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: white;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;

}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background: black;
}


.menu li a:hover{
    background: white;
    color: black;
    transition: 0.7s;
    /*transform: rotate(360deg);*/
}

.logo{
    width: 200px;
    height: 30px;
    padding: 10px;
}

.logo:hover{
    padding: 10px;
    background: white;
    transition: 1s;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.wolfs{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.flex > div{
    margin: 10px;
    flex: 1 1 200px;
}


